<ion-view title="Login" id="page4">
    <ion-content padding="true" style="background: url(img/VntFQZJTH6FHa8EziDCQ_Rinema_interactive_collage.png) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list">
            <div class="spacer" style="width: 300px; height: 69px;"></div>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" id="login-input2">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="login-button1" class="button button-positive  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>