<ion-view title="MovieRate" id="page6">
    <ion-content padding="true" style="background: url(img/on2XgfjUQ1i0AkoZTXOR_Rinema_interactive_collage.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 120px;"></div>
        <a ui-sref="login" id="movieRate-button4" class="button button-positive  button-block">Login</a>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <a ui-sref="signup" id="movieRate-button5" class="button button-positive  button-block">Register</a>
    </ion-content>
</ion-view>