<ion-view title="Signup" id="page5">
    <ion-content padding="true" style="background: url(img/3TVigscbRQ2mdLl1MCqO_Rinema_interactive_collage.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 300px; height: 55px;"></div>
        <form id="signup-form3" class="list">
            <ion-list id="signup-list2">
                <label class="item item-input" id="signup-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button3" class="button button-balanced  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>